/* Remove * out 5 ratings */
article:has(div > span[aria-label="Rating 1 out of 5"]) {
  display: none !important;
}

article:has(div > span[aria-label="Rating 2 out of 5"]) {
  display: none !important;
}

/* class used to hide everything that needs to be activated/deactivated by the popup button*/
.article-hidden.firefox {
  display: none !important;
}

article.article-hidden.chrome {
  display: none !important;
}

/* Remove 1 - 3 star filter */
div[aria-label="1 star"] {
  display: none;
}

div[aria-label="2 stars"] {
  display: none;
}

div[aria-label="3 stars"] {
  display: none;
}

/* Remove average rating*/
div.RatingStatistics__column:has(
    span[class="RatingStars RatingStars__medium"]
  ) {
  display: none;
}

/* Remove rating from search result*/
span.minirating {
  display: none;
}

/* Remove reviews without star rating */
article:has(section > section.ReviewCard__row > div > b) {
  display: none !important;
}
